.footer {
    width: 100vw;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    color: white;
    font-size: 14px;
    text-align: center;
}